<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head> 
<body>

<input type="range" id="result" value="{{ target }}" min="0" max="255" />

<script>

$(document).ready(function(){
        $("#result").on( 'slidestop', function(){
            $.post( '/write_target', {target:$("#result").val()}) ;
        });
    })
</script>

<div>
	<h1>Target: {{ target }}</h1>
</div>

</body>

